/// <reference path="../references" />
@import "~src/scss/variables.scss";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 3px;
  line-height: 1.2;
  font-weight: 700;
  transition: all 0.2s ease;

  &.grey {
    color: white;
    background-color: $color-grey-100;
    opacity: .8;

    html.desktop &:hover {
      opacity: 1;
    }
  }

  &.white {
    background-color: white;

    html.desktop &:hover {
      background-color: $color-grey-0;
    }
  }
}
