/// <reference path="../references" />
@import "~src/scss/variables.scss";

.grid {
  display: grid;

  @for $i from 1 through 50 {
    $width: $i * 10;

    &.fill-#{$width} {
      grid-template-columns: repeat(auto-fill, minmax(#{$width}px, 1fr));
    }

    &.fit-#{$width} {
      grid-template-columns: repeat(auto-fit, minmax(#{$width}px, 1fr));
    }
  }

  @for $i from 1 through 10 {
    &.gap-#{$i} {
      grid-gap: $spacer-base * $i;
    }

    @for $kit-j from 1 through 10 {
      &.gap-#{$i}-#{$kit-j} {
        grid-gap: ($spacer-base * $i) ($spacer-base * $kit-j);
      }
    }
  }
}
