

.icon {
  display: block;
  flex-shrink: 0;

  > * {
    width: 100%;
    height: 100%;
    display: block;
  }

  &.icon-6 {
    width: 6px;
    height: 6px;
  }

  &.icon-10 {
    width: 10px;
    height: 10px;
  }

  &.icon-14 {
    width: 14px;
    height: 14px;
  }

  &.icon-18 {
    width: 18px;
    height: 18px;
  }

  &.icon-20 {
    width: 20px;
    height: 20px;
  }
}
