/// <reference path="../references" />
@import "~src/scss/variables.scss";

.mat-slider.mat-slider-horizontal {
  display: block;
  height: auto;
  padding: 0;
  height: 20px;

  .mat-slider-wrapper,
  .mat-slider-ticks-container,
  .mat-slider-track-wrapper,
  .mat-slider-track-background,
  .mat-slider-track-fill {
    height: 10px;
  }

  .mat-slider-track-background {
    background-color: $color-grey-20;
  }

  .mat-slider-track-fill {
    #epub-font-size & {
      background-color: $color-grey-20;
    }

    #epub-progress & {
      background-color: $color-primary;
    }
  }

  .mat-slider-track-wrapper {
    border-radius: 5px;
  }

  .mat-slider-thumb {
    width: 26px;
    height: 26px;
    right: -13px;
    bottom: -13px;
    background-color: white;
    box-shadow: $box-shadow-3;
  }

  &.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }

  .mat-slider-wrapper {
    top: 50%;
    transform: translateY(-50%);

    .mat-slider-track-wrapper {
      overflow: hidden;
      background-color: $color-grey-20;
    }

    .mat-slider-thumb {
      transform: scale(.8);
      border: none;
    }
  }

  &:not(.mat-slider-sliding) .mat-slider-thumb {
    transform: scale(.8) !important;
  }

  &.mat-slider-sliding .mat-slider-thumb {
    transform: scale(1) !important;
  }
}
