/// <reference path="../references" />
@import "~src/scss/variables.scss";

.mat-slide-toggle {

  .mat-slide-toggle-content {
    order: 1;
  }

  .mat-slide-toggle-bar {
    background-color: $color-grey-30;
    border-radius: 7.5px;
    width: 30px;
    height: 15px;
    order: 2;
    margin: 0 0 0 10px;
  }

  .mat-slide-toggle-thumb-container {
    width: 15px;
    height: 15px;
    top: 0;
    /*top: -2px !important;*/
    display: flex;
    justify-content: center;
    align-items: center;

    .mat-slide-toggle-thumb {
      width: 11px !important;
      height: 11px !important;
      /* transform: translate(50%, 50%);*/
    }
  }

  &.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-bar {
      background-color: $color-primary;
    }

    .mat-slide-toggle-thumb {
      background-color: #fff;
    }
  }

  &.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(15px, 0, 0) !important;
  }
}
