/// <reference path="../../../references" />
@import "~src/scss/variables.scss";


#dropdown-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-component - 1;
}
