<ng-container *ngIf="books">
  <div class="grid gap-4 fill-230">
    <ng-container *ngFor="let book of books">
      <div class="item">
        <a [routerLink]="'/book-info/' + book.slug + '/' + book.id">
          <p>{{book.id}} {{book.slug}}</p>
          <img *ngIf="book.image" [src]="book.image" />
        </a>
      </div>
    </ng-container>
  </div>
</ng-container>
