<ng-container *ngIf="bookInfo">
  <p>{{bookInfo.id}} {{bookInfo.slug}}</p>
  <img *ngIf="bookInfo.image" [src]="bookInfo.image" />
  <div>
    <a [routerLink]="'/book/' + bookInfo.slug + '/' + bookInfo.id">Læs bog</a>
  </div>
</ng-container>
