@font-face {
  font-family: Alinea;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/assets/fonts/Alinea-Regular.woff2');
}

@font-face {
  font-family: Alinea;
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/assets/fonts/Alinea-Bold.woff2');
}

@font-face {
  font-family: Alinea;
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('/assets/fonts/Alinea-Black.woff2');
}
