/// <reference path="../references" />
@import "~src/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; // disable android focus glow
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
}

body {
  background-color: white;
  font-family: $font-text;
  word-break: break-word;
  font-weight: 400;
  color: $color-grey-100;

  > svg {
    display: none;
  }
}

button {
  font-family: $font-text;
}

body,
button {
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

header,
footer,
main,
svg,
audio,
video {
  display: block;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

label {
  display: block;
  cursor: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  width: 100%;
}
