@import "breakpoints";
@import "fonts";

$font-text: Alinea, Arial,'Helvetica Neue',Helvetica,sans-serif;

$spacer-base: 5px;

$color-primary: #265FFB;
$color-secondary: #001966;

$color-grey-0: #f2f2f2;
$color-grey-10: #e6e6e6;
$color-grey-20: #d4d4d4;
$color-grey-30: #aaaaaa;
$color-grey-40: #919191;
$color-grey-50: #777777;
$color-grey-60: #5a5a5a;
$color-grey-70: #4b4b4b;
$color-grey-80: #3a3a3a;
$color-grey-90: #2f2f2f;
$color-grey-100: #1b1b1b;

$color-navy: #131a45;
$color-lavender: #ba99fd;
$color-pink: #fd9fe5;
$color-salmon: #ffa695;
$color-mint: #a7ebe5;
$color-lemon: #fdf5c0;

$z-index-component: 100;
$z-index-header: 200;
$z-index-fullscreen: 300;
$z-index-loader: 400;

$box-shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.16); // book main
$box-shadow-2: 0px 3px 6px rgba(0, 0, 0, 0.16); // dropdown
$box-shadow-3: 0px 0px 2px 0px black; // .mat-slider-thumb
$box-shadow-4: 0px 0px 0px 2px white, 0px 0px 2px 2px black; // .mat-slider-sliding .mat-slider-thumb
