<div #domElement id="epub" tabindex="0"
     class="{{context.layout}}"
     [ngClass]="{
     'epub-location-loaded': context.locationLoaded === true,
     'epub-book-loaded': context.bookLoaded === true,
     'epub-toc-loaded': context.tocLoaded === true,
     'epub-loading': context.loading === true
     }"
     [attr.data-columns]="context.currentColumn">
  <div>
    <div class="aside-click-zone aside-click-zone-left" (click)="prevClick()"></div>
    <div class="aside-click-zone aside-click-zone-right" (click)="nextClick()"></div>
    <div id="epub-main" [ngClass]="{'epub-fullscreen': context.fullscreen === true}">
      <div #domHeader id="epub-header">
        <div id="epub-toc" class="epub-dropdown dropdown" [ngClass]="{'open': context.dropdownOpen === 'toc'}">
          <button class="btn white" (click)="onToggleDropdown('toc')">
            <span>{{context.selectedToc?.start.label}}</span>
            <i class="icon icon-10"><svg focusable="false"><use xlink:href="#icon-chevron-down"></use></svg></i>
          </button>
          <ul>
            <ng-container *ngFor="let item of context.toc">
              <li class="selectable" [ngClass]="{'selected': (context.selectedToc?.start.href === item.href || context.selectedToc?.end === item.href)}" (click)="tocItemClicked(item)">{{item.label}}</li>
            </ng-container>
          </ul>
        </div>
        <ng-container *ngIf="context.layout === 'reflowable' && context.settings && context.setting">
          <div id="epub-settings" class="epub-dropdown dropdown" [ngClass]="{'open': context.dropdownOpen === 'settings'}">
            <button class="btn white" (click)="onToggleDropdown('settings')">
              <i class="icon icon-20"><svg focusable="false"><use xlink:href="#icon-settings"></use></svg></i>
            </button>
            <ul>
              <li id="epub-font-size">
                <label>
                  <span>A</span>
                  <span>A</span>
                </label>
                <mat-slider min="1"
                            max="{{this.context.settings.fontSizes.length}}"
                            step="1"
                            value="{{context.setting.fontSize.index}}"
                            (change)="fontSizeChange($event)"
                            (input)="fontSizeChange($event)"></mat-slider>
              </li>
              <li id="epub-fonts">
                <div class="radios">
                  <ng-container *ngFor="let font of context.settings.fonts; let i = index">
                    <div class="radio-element">
                      <input id="epub-font-{{i}}" name="epub-font" type="radio" value="{{font.name}}" [checked]="context.setting.font.name === font.name" (change)="fontChange(font)">
                      <label tabindex="0" for="epub-font-{{i}}" [ngStyle]="{'font-family': font.value}">{{font.name}}</label>
                    </div>
                  </ng-container>
                </div>
              </li>
              <li id="epub-line-heights">
                <div class="radios">
                  <ng-container *ngFor="let lineHeight of context.settings.lineHeights; let i = index">
                    <div class="radio-element">
                      <input id="epub-line-height-{{i}}" name="epub-line-height" type="radio" value="{{lineHeight.value}}" [checked]="context.setting.lineHeight.name === lineHeight.name" (change)="lineHeightItemClicked(lineHeight)" />
                      <label tabindex="0" for="epub-line-height-{{i}}">
                        <i class="icon icon-20"><svg focusable="false"><use [attr.xlink:href]="lineHeight.icon"></use></svg></i>
                      </label>
                    </div>
                  </ng-container>
                </div>
              </li>
              <li id="epub-themes">
                <div class="radios">
                  <ng-container *ngFor="let theme of context.settings.themes; let i = index">
                    <div class="radio-element">
                      <input id="epub-theme-{{i}}" name="epub-theme" type="radio" value="{{theme.name}}" [checked]="context.setting.theme.name === theme.name" (click)="themeItemClicked(theme)">
                      <label tabindex="0" for="epub-theme-{{i}}" class="{{theme.name}}" [ngStyle]="{'background-color': theme.background}">
                        <span *ngIf="context.setting.theme.name === theme.name">
                          <i class="icon icon-18"><svg focusable="false"><use xlink:href="#icon-check"></use></svg></i>
                        </span>
                      </label>
                    </div>
                  </ng-container>
                </div>
              </li>
              <li>
                <mat-slide-toggle [checked]="context.setting.column === 2" (change)="columnChange($event)">Vis opslag</mat-slide-toggle>
            </ul>
          </div>
        </ng-container>
        <div class="grow"></div>
        <button id="epub-fullscreen" class="btn grey" (click)="fullscreenClick()">
          <i class="icon icon-20">
            <svg focusable="false" *ngIf="!context.fullscreen"><use xlink:href="#icon-maximize"></use></svg>
            <svg focusable="false" *ngIf="context.fullscreen"><use xlink:href="#icon-minimize"></use></svg>
          </i>
        </button>
      </div>
      <div id="epub-content">
        <div id="epub-aside-left"
             class="epub-aside"
             [ngClass]="{'epub-aside-shown': context.prevShown === true}"
             (click)="prevClick()">
          <button id="epub-prev" class="btn grey"><i class="icon icon-18"><svg focusable="false"><use xlink:href="#icon-chevron-left"></use></svg></i></button>
        </div>
        <div #domReader id="epub-reader"></div>
        <div id="epub-aside-right"
             class="epub-aside"
             [ngClass]="{'epub-aside-shown': context.nextShown === true}"
             (click)="nextClick()">
          <button id="epub-next" class="btn grey"><i class="icon icon-18"><svg focusable="false"><use xlink:href="#icon-chevron-right"></use></svg></i></button>
        </div>
      </div>
      <div #domFooter id="epub-footer">
        <div id="epub-progress">
          <mat-slider
                      min="0"
                      max="100"
                      step="1"
                      value="{{context.percentage}}"
                      (input)="progressInput($event)"
                      (change)="progressChange($event)">
          </mat-slider>
          <label><span id="epub-percentage">{{context.percentage}}</span>%</label>
        </div>
        <div id="epub-loader">
          <svg focusable="false"><use xlink:href="#icon-loading"></use></svg>
        </div>
      </div>
    </div>
  </div>
</div>
