/// <reference path="../../../../../../references" />
@import "~src/scss/variables.scss";

:host {
  display: block;
  flex-grow: 1;
}

@font-face {
  font-family: OpenDyslexic;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/assets/fonts/OpenDyslexic-Regular.otf');
}


#epub {
  $epub-header-height: 50px;
  $epub-footer-height: 50px;

  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  user-select: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  background-color: white;

  > div {
    display: flex;
    flex-grow: 1;
    position: absolute;
    width: 100%;

    > .aside-click-zone-left {
      order: 1;

      :host-context(html.desktop) &:hover ~ #epub-main #epub-aside-left {
        opacity: 1;
      }
    }

    #epub-main {
      order: 2;
    }

    > .aside-click-zone-right {
      order: 3;

      :host-context(html.desktop) &:hover ~ #epub-main #epub-aside-right {
        opacity: 1;
      }
    }
  }


  .aside-click-zone {
    flex-grow: 1;
    cursor: pointer;

    :host-context(html:not(.desktop)) & {
      pointer-events: none;
    }
  }

  &:not(.epub-loading) #epub-loader {
    visibility: hidden;
    opacity: 0;
  }

  &:not(.reflowable) #epub-settings {
    display: none !important;
  }

  &:not(.epub-location-loaded):not(.epub-book-shown) {
    #epub-header > *,
    #epub-progress,
    #epub-reader {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &:not(.epub-toc-loaded) #epub-toc,
  .epub-aside:not(.epub-aside-shown),
  &:not(.epub-book-loaded) #epub-reader,
  &:not(.epub-book-loaded) #epub-settings {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  #epub-main {
    position: relative;
    background-color: white;

    &.epub-fullscreen {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: $z-index-fullscreen;
      display: flex;
      flex-direction: column;

      #epub-content {
        flex-grow: 1;
        align-items: center;
      }
    }
  }

  &.reflowable #epub-main {
    background-color: var(--theme-background) !important;
  }

  &.epub-book-loaded {
    #epub-main {
      box-shadow: $box-shadow-1;
    }
  }

  &.epub-book-loaded.reflowable[data-columns="2"] #epub-reader:after {
    content: '';
    position: absolute;
    width: 1px;
    border-right: 1px solid var(--theme-color);
    height: 90%;
    z-index: 1;
    left: 50%;
    margin-left: -1px;
    top: 5%;
  }

  #epub-header {
    height: $epub-header-height;
    display: flex;
    flex-shrink: 0;
    padding: 0 10px;
    align-items: center;

    > * + * {
      margin-left: 10px;
    }

    .grow {
      flex-grow: 1;
    }

    .epub-dropdown {
      display: flex;
      min-width: 0;

      &#epub-toc,
      &#epub-settings {
        flex-shrink: 0;
      }

      &#epub-toc {
        > button {
          width: 100%;
          max-width: 130px;
        }

        > ul {
          padding: 5px;

          > li {
            padding: 5px 10px;
          }
        }
      }

      &#epub-settings > ul {
        padding: 15px 10px;
        max-width: 200px;

        > li + li {
          margin-top: 15px;
          padding-top: 15px;
          border-top: 1px solid $color-grey-20;
        }
      }

      &:not(.open) > ul {
        display: none;
      }

      &.open > label > i > svg {
        transform: rotate(180deg);
      }

      > button {
        flex-grow: 1;
        min-width: 0;

        span {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }

        i {
          flex-shrink: 0;
        }
      }

      > ul {
        background-color: white;
        position: absolute;
        top: $epub-header-height;
        left: 10px;
        max-width: calc(100% - 20px);
        min-width: 200px;
        max-height: calc(100% - #{$epub-header-height + $epub-footer-height + 20px});
        overflow: auto;
        box-shadow: $box-shadow-2;

        > li {

          &.selectable {
            cursor: pointer;

            :host-context(html.desktop) &:hover {
              background-color: $color-grey-0;
            }
          }

          &.selected {
            pointer-events: none;
            background-color: $color-grey-0;
          }

          p {
            white-space: unset;
          }
        }
      }
    }

    #epub-settings,
    #epub-fullscreen {
      width: 35px;
      height: 35px;
    }

    #epub-toc button {
      height: 35px;
      padding: 0 15px;

      > * + * {
        margin-left: 20px;
      }
    }

    #epub-font-size {
      > label {
        line-height: 1;
        margin: 0 2px 4px 4px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 900;

        > span:first-child {
          font-size: 12px;
        }

        > span:last-child {
          font-size: 20px;
        }
      }

      mat-slider {
        width: 100%;
      }
    }

    .radios {
      display: flex;
      flex-wrap: wrap;
      margin: -5px 0 0 -5px;

      > * {
        margin: 5px 0 0 5px;
      }

      input {
        display: none;
      }

      label {
        cursor: pointer;
      }

      .radio-element {
        input {
          &:checked + label {
            border-color: $color-primary;
          }
        }

        label {
          border: 1px solid $color-grey-20;
          position: relative;
        }
      }
    }

    #epub-fonts label,
    #epub-line-heights label {
      :host-context(html.desktop) &:hover {
        background-color: $color-grey-0;
      }
    }

    #epub-fonts label {
      padding: 3px 8px;
      border-radius: 3px;
    }

    #epub-themes label {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      color: $color-primary;
    }

    #epub-line-heights label {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #epub-content {
    display: flex;
    justify-content: center;
    position: relative;

    .epub-aside {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      z-index: 1;
      opacity: 0;
      transition: opacity ease .5s;
      cursor: pointer;
      width: 75px;

      > button {
        width: 30px;
        height: 45px;
      }

      :host-context(html.desktop) &:hover {
        opacity: 1;
      }

      :host-context(html:not(.desktop)) & {
        display: none;
      }

      &#epub-aside-left {
        justify-content: flex-start;
        left: 0;

        button {
          border-radius: 0 3px 3px 0;
        }
      }

      &#epub-aside-right {
        justify-content: flex-end;
        right: 0;

        button {
          border-radius: 3px 0 0 3px;
        }
      }
    }

    #epub-reader {
      overflow: hidden;
      flex-shrink: 0;
      position: relative;

      .epub-view {
        background-color: var(--theme-background);
      }
    }
  }


  #epub-footer {
    height: $epub-footer-height;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    #epub-progress {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px 0 30px;
      white-space: nowrap;
      background-color: white;
      border-radius: 3px;
      height: 40px;
      padding: 0 15px 0 10px;

      > * + * {
        margin-left: 10px;
      }

      #epub-slider {
        width: 100%;
        max-width: 200px;
      }

      label {
        width: 40px;
        font-size: 14px;
      }
    }

    #epub-loader {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      display: flex;

      > svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
